.footer{
    background-color: var(--primary);
    width: 100%;
    height: 80px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    color: var(--light);
    align-items: center;
}

a,.icon{
    text-decoration: none;
    margin: 6px;
    color: var(--light);
    cursor: pointer;
}

.links ul{
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: flex-end;
}

.logo, .socials{
    display: flex;
    align-items: center;
}

.logo h1, span,p{
    margin-right: 12px;
}
