<div class="footer">
    <div class="logo">
        <span class="material-symbols-outlined"> restaurant </span>
        <h1>Foodie</h1>
    </div>

    <div class="links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Discover</a></li>
            <li><a href="">Tags</a></li>
            <li><a href="">Tips</a></li>
        </ul>
    </div>

    <div class="socials">
        <p>follow us </p>
        <div class="icons">
            <fa-icon class="icon" [icon]="Facebook"></fa-icon>
            <fa-icon class="icon" [icon]="Twitter"></fa-icon>
            <fa-icon class="icon" [icon]="Insta"></fa-icon>
        </div>
    </div>
</div>
