
<div class="cover">
    <div class="filter-side-bar">
        <h1 style="margin: 12% 0;">Filters</h1>
        <app-filter-menu></app-filter-menu>
        <app-filter-menu></app-filter-menu>
        <app-filter-menu></app-filter-menu>
    </div>

    <div class="content">
        <app-mini-nav></app-mini-nav>
        <div class="wrapper">
            <div class="items" *ngFor="let rec of foods">
                <app-food [recipe]="rec"></app-food> 
            </div>
            
        </div>
        
        <app-slider></app-slider>
    </div>
    
</div>     

