.filter-side-bar{
    display: fixed;
    width: 15%;
    height: auto;
}

.cover{
    display: flex;
}

.content{
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
    gap: 12px;
    padding: 10px 24px;
  }