<div class="banner">
    <div class="content">
        <h4 style="margin-bottom: 8px;">Trending Now</h4>
        <h2>KD's Kitchen, The best of </h2>
        <h2>the best</h2>
        <h6 style="margin-top: 2px;">By KD</h6>
    </div>

    <div class="play-btn">
        <span id="play" class="material-symbols-outlined">
            play_circle
        </span>
        <h3>Watch now</h3>
    </div>
    <div class="sliders">
        <span id="left" class="material-symbols-outlined">
            arrow_right_alt
        </span>
        <span id="right" class="material-symbols-outlined">
            arrow_right_alt
        </span>
    </div>
</div>