/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;500&family=Inter:wght@200;300;400;500;700&family=Montserrat:wght@100;200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root{
    --primary:#E58A2F;
    --secondary:#FFD49B;
    --dark:#1B1B1B;
    --light:#FCF1E6;
    --white: #ffffff;
}